#card3 {
    animation-delay: calc( (var(--cardAnimationTime) * var(--cardDelayTime)) * 2);
}

#card3 .picture {
    right: 0;
    position: absolute;
    background-image: url("../../../../../imgs/eggTimerShape.png");
}

#card3 .pictureContainer .circle {
    right: 0;
    background: var(--gradient-green);
}

@media (max-width:760px) {
    #card3 {
        animation-delay: 0s;
    }
}