#section2 {
    /* min-height: 200vh; */
    width: 100vw;
    
    padding: 0;

    /* background-color: var(--white); */
    position: relative;

    overflow: hidden;
    z-index: 3;
}

#section2_wrapper {
    padding: var(--section-padding);
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 50px;
}

._part {
    width: 80%;
    background-color: rgba(215, 215, 215, 0.3);
    padding: 25px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media (max-width: 760px) {
    ._part {
        width: 100%;
    }
}